.legal {
  font-size: 12px;
  margin: 0;
  font-family: "Alliance No. 2", Arial;
  color: #586069;
  text-align: center;
  background-color: #fafbfc;
}

.social {
  color: #959da5;
  text-align: center;
  background-color: #fafbfc;
}
