.Mpw-label {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 2em;
  background-color: initial !important;
  border: 1px solid;
  border-color: #8957e5;
  text-transform: uppercase !important;
}

.Mpw-star {
  color: #61dbfb;
}
