.Monproweb {
  background-color: #292929;
  color: rgba(255, 255, 255, 1);
}

.Monproweb-logo {
  height: 40vmin;
  pointer-events: none;
}

.Monproweb-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Monproweb-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Monproweb-link {
  color: #e539ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Monproweb-drawer {
  background: #212121;
}

.Monproweb-footer {
  text-align: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #24aee9;
}
